<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{(url_for('edit', book_id=book_id))}}" method="POST">
        {{book_id}}
        {% for book in books %}
            {% if book['id'] == book_id %}
                {{book['title']}}
            {% endif %}
        {%endfor %}
        <p>New rating</p>
        <input type="text" name="rating">
        <input type="submit">
    </form>
</body>
</html>