<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    {% if books == [] %}
      <h2>Empty Library</h2>
    {% else %}

    {% for book in books %}
      <ul>
        <li>{{ book['title'] }} - {{ book['author'] }} - {{ book['rating'] }}/10 <a href="{{ url_for('edit', book_id = book['id'])}}">Edit Rating</a></li>
      </ul>
    {% endfor %}

    {% endif %}


    <a href="{{ url_for('add') }}">Add New Book</a>
  </body>
</html>
